{% extends "base.html" %}
{% load components %}

{% block title %}Home{% endblock %}


{% block content %}

  <h1>{{user.email}}</h1>

  {# RANDOM CARD #}
  {% Card %}
    {% slot header %} Featured {% endslot %}
    {% slot title %} Card title {% endslot %}
    <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  {% endCard %}

  <br>


  {# TICKETS #}
  {% for t in tickets %}
    <br>
    {% TicketView ticket=t %}{% endTicketView %}
  {% endfor %}

{% endblock %}